<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/fragments/main_layout}">
<head>

</head>
<body>
	<div class="content-wrapper" layout:fragment="content">
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0 text-dark">Dashboard</h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="/admin/">Home</a></li>
							<li class="breadcrumb-item active">Dashboard v1</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="card">


							<div class="row">
								<div class="col-12">
									<div class="card">
										<div class="card-header">
											<h3 class="card-title">Danh Sách Loại Máy</h3>
											<div class="card-tools">
												<button style="margin-bottom: 20px"
													class="btn btn-primary nLM">Thêm Loại Máy</button>
											</div>
											<div class="card-tools">
												<div th:if="${success}"
													class="row alert alert-success alert-dismissible">
													<button type="button" class="close" data-dismiss="alert"
														aria-label="Close">
														<span aria-hidden="true">Ã—</span>
													</button>
													<span th:text="${success}"></span>
												</div>
											</div>
										</div>
										<th:block th:if="${#lists.isEmpty(loaimays.pageList)}">
											<h3>Không có loại máy nào</h3>
										</th:block>
										<th:block th:unless="${#lists.isEmpty(loaimays.pageList)}">
											<div class="card-body table-responsive p-0"
												style="height: 300px;">
												<table class="table table-head-fixed text-nowrap">
													<thead>
														<tr>
															<th>ID</th>
															<th>Tên Loại Máy</th>
															<th>Ngày Tạo</th>
															<th>Ngày Cập Nhật</th>
															<th>Action</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="loaimay : ${loaimays.pageList}">
															<td th:text="${loaimay.id}"></td>
															<td th:text="${loaimay.name}"></td>
															<td th:text="${loaimay.dateCreated}"></td>
															<td th:text="${loaimay.lastUpdated}"></td>
															<td><a th:href="@{edit/(id=${loaimay.id})}"
																class="btn btn-primary eLM" style="margin-right: 10px;">Edit</a>
																<a th:href="@{'/admin/deleteLM/' + ${loaimay.id}}"
																class="confirm-delete"
																onclick="return confirm('Bạn có muốn xóa loại sản phẩm này không')">
																	<i class="fa fa-trash"
																	style="font-size: 21px; color: red;"></i>
															</a></td>
														</tr>
													</tbody>
												</table>
											</div>
											<ul class="pagination">
												<li
													th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
													<a class="page-link" th:href="@{/admin/loaimay/page/1}">First</a>
												</li>
												<li
													th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
													<a class="page-link" aria-label="Previous"
													th:href="@{|${baseUrl}${currentIndex - 1}|}"
													title='Go to previous page'><span aria-hidden="true"><i
															class="fas fa-angle-double-left"></i></span> <span
														class="sr-only">Previous</span></a>
												</li>
												<li
													th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
													th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
													<a class="page-link" th:href="@{|${baseUrl}${item}|}">
														<span th:text='${item}'>1</span>
												</a>
												</li>
												<li
													th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
													<a class="page-link" aria-label="Next"
													th:href="@{|${baseUrl}${currentIndex + 1}|}"
													title='Go to next page'><span aria-hidden="true"><i
															class="fas fa-angle-double-right"></i></span> <span
														class="sr-only">Next</span></a>
												</li>
												<li
													th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
													<a class="page-link"
													th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
												</li>
											</ul>
										</th:block>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="myFormUpdate">
			<form th:action="@{/admin/update/lm}" method="put">
				<div class="modal fade" id="updateModal" tabindex="-1" role="dialog"
					aria-labelledby="updateModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="updateModalLabel">Update Loại
									Máy</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p class="alert alert-info">Nhập Tên Loại Máy</p>
								<div class="form-group">
									<input type="hidden" class="form-control" id="id" name="id"
										value="" />
								</div>
								<div class="form-group">
									<input type=hidden class="form-control" id="dateCreated"
										name="dateCreated" value="" />
								</div>
								<div class="form-group">
									<label for="name" class="col-form-label">Tên Loại Máy:</label> <input type="text" class="form-control" id="name"
										name="name" value="" />
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<input type="submit" class="btn btn-primary" value="Update" />
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="myFormCreate">
			<form th:action="@{/admin/save/lm}" method="post">
				<div class="modal fade" id="myModalCreate" tabindex="-1"
					role="dialog" aria-labelledby="modalLabelCreate" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="modalLabelCreate">Thêm Mới Loại
									Máy</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p class="alert alert-info">Nhập Thông Tin Loại Máy</p>

								<div class="form-group">
									<label for="name" class="col-form-label">Tên Loại Máy
										:</label> <input type="text" class="form-control" id="name"
										name="name" value="" />
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<input type="submit" class="btn btn-primary" value="Save" />
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>
